<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Cqrs Movie - Seats API [CQRS-ES Workshop]</title>
</head>

<body>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" valign="top">
        <br>
        <br>
        <table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center">
              <div style="font-size:36px; color:#ffffff;">
                <b><img src="documentation/ui/images/logo_small.png" style="display:block;"></b>
              </div>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" bgcolor="#ffffff" style="background-color: #ffffff;padding: 10px; color: #002D5C; font-size: 28px; font-family: Georgia, 'Times New Roman', Times, serif;">
              Cqrs Movie - Seats API [CQRS-ES Workshop]
              <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="40%" align="center" valign="middle" style="padding: 10px;">
                    <img src="documentation/ui/images/Documentazione.gif" width="169" height="187" style="display: block">
                  </td>
                  <td align="left" valign="middle" style="color: #525252; font-family: Arial, Helvetica, sans-serif; padding: 10px;">
                    <div style="font-size: 12px;">
                      <b>Web API Documentation.</b>
                      <hr>
                      <center>
                        <a href="documentation/ui/index.html" style="font-size: 22px; padding: 10px; color: #002D5C">
                          Accedi alla documentazione
                        </a>
                      </center>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <br>
        <br>
      </td>
    </tr>
  </table>
</body>
</html>
